/*
*	indexPage.css
*/
body {
	background-image: url(../imgs/backgroundDictionary.jpg);
	background-position: center;
	background-atachment: fixed;
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: 100%;
}

h1 {
	font-size: 48px;
	align-content: center;
}

img {
	align: center;
}

input {
	background: url('../imgs/emojiInicio.jpg');
	width: 299px;
	height: 168px;
	font-size: 40px;
	font-weight: bold;
	color: #878F9F;
}

div.fuera {
	width: 100%;
	text-align: center;
}

div.central {
	display: inline-block;
}
p.recordatorio{
	font-size:20px;
	color:gray;
}